body {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: gray;
}

.MuiAppBar-root {
    background-color: #438EB9 !important;
}

.active>a:after {
    border-right-color: #2B7DBC;
}

.active>a:after {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
}

.nav-li::after {
    display: block;
    content: "";
    position: absolute;
    right: 0px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid #2B7DBC;
    border-width: 0 2px 0 0;
}

.nav-item-select, .nav-item-select svg {
    color: #2B7DBC;
    background-color: #FFF;
}

.nav-item-select::after {
    content: '';
    border-right-color: #2B7DBC !important;
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
}

.nav-item:hover {
    background-color: #FFF;
    color: #2B7DBC;
}

.nav-item:hover svg {
    color: #2B7DBC;

}

.nav-item:hover::before {
    /* display: none; */
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629CC9;
}

.item-title {
    position: absolute;
    right: -10px;
}