a {
    text-decoration: none;
    color: gray;
}
.MuiAppBar-root {
    background-color: #438EB9 !important;
}

.active>a:after {
    border-right-color: #2B7DBC;
}
.active>a:after {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
}